[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/glew"]
	path = submodules/glew
	url = https://github.com/nigels-com/glew.git
[submodule "submodules/freetype2"]
	path = submodules/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "submodules/box2d"]
	path = submodules/box2d
	url = https://github.com/erincatto/box2d.git
